*.pth
*.onnx
*.zip
seq_*
results_viz*
__pycache__/
bottle_tf_saved_model/
.gradle/
build/
*.apk
local.properties
.idea/
*.iml
*.log

# Large Data & Checkpoints
coke_can_pose_estimation/data/
coke_can_pose_estimation/env/
DATASET_TRAINING/
MODELS_AND_TRAINING_BOTTLE/

# Debug and output images
debug_coke_static.jpg
debug_keypoints_order.jpg
debug_loader_output/
test_botte_off_ground/
